{% load static %}
<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={% static '/css/api.css' %}>
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <!-- header -->
        <header>
            <div class = "navigation-container">
                <div class = "top-head">
                    <div class = "web-name">
                        <h1>BETA</h1>
                    </div>

                    <div class = "ham-btn">
                        <span>
                            <i class = "fas fa-bars"></i>
                        </span>
                    </div>

                    <div class = "times-btn">
                        <span>
                            <i class = "fas fa-times"></i>
                        </span>
                    </div>
                </div>

                <!-- nav bar -->

                <div class = "nav-bar" id = "nav-bar">
                    <nav>
                        <ul>
                            <li><a href = "https://afternoon-hollows-57328.herokuapp.com/">stream</a></li>
                            <li><a href = "https://afternoon-hollows-57328.herokuapp.com/new/">search</a></li>
                            <li><a href = "https://afternoon-hollows-57328.herokuapp.com/notifications/">notifications</a></li>
                            <li><a href = "https://afternoon-hollows-57328.herokuapp.com/direct/">inbox</a></li>
                            <li><a href = "https://afternoon-hollows-57328.herokuapp.com/profile/admin/">profile: admin</a></li>
                            <li><a href = "https://afternoon-hollows-57328.herokuapp.com/new_post/">New Post</a></li>
                            <li><a href = "https://afternoon-hollows-57328.herokuapp.com/news/">News</a></li>
                            <li><a href = "https://afternoon-hollows-57328.herokuapp.com/tutoring/">Tutoring Forum</a></li>
                            <li><a href = "#">Settings</a></li>
                        </ul>
                    </nav>
                </div>

          </header>

          <div class="hero-image">
            <div class="container">
              <h2><span>Colleges</span></h2>
              <br><br><span class="des">Top Colleges In the U.S.</span>
            </div>

          </div>




            <section class = "main-container-right">
                <h2></h2>
               {% for name,ranking,location,info in schoolInfo  %}
                <article>
                    <h4>{{ name}} </h4>
                    <div>
                        <h2>{{ info}}</h2>

                        <p>

                        Address: {{ location}} <br>
                        Rank: {{ ranking }}

</p>


</div>
         </article>

{% endfor %}
            </section>
        <br>
        <br>
        <br>
        <br><br>
        <br><br>
        <br><br>
        <br>
        </main>

        <footer>
            <div class = "footer-container">
                <div class = "footer-left">
                    <h2>BETA</h2>
                    <p>Beta is here to provide you with the best college recommendations possible. We do not claim that any of these schools are our own, but instead, they are free resources for you. </p>
                </div>

                <div class = "footer-right">
                    <h2>Subscribe</h2>
                    <p>Subscribe to receive more college recommendations from Beta!</p>

                    <div>
                        <input type = "text" placeholder = "Email Address">
                        <i class = "fas fa-envelope"></i>
                    </div>
                </div>
            </div>




        </footer>


    </body>
</html>